<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-text mx-3">Blog Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Resources
    </div>

    <!-- Nav Item - Articles -->
    <li {% if route_name matches '{^article}' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{ url('article_index') }}">
            <i class="fas fa-fw fa-file"></i>
            <span>Articles</span></a>
    </li>

    {% if is_granted('ROLE_ADMIN') %}
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Settings
        </div>

        <!-- Nav Item - Users -->
        <li {% if route_name matches '{^user}' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
            <a class="nav-link" href="{{ url('user_index') }}">
                <i class="fas fa-fw fa-users"></i>
                <span>Users</span></a>
        </li>
    {% endif %}

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

</ul>
