{% trans_default_domain 'FOSUserBundle' %}

<h1 class="my-4">Register</h1>

<div class="card mb-4">
    <div class="card-body">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}

            <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
        {{ form_end(form) }}
    </div>
</div>
