{% extends 'admin/base.html.twig' %}

{% block admin_title %}Edit Article - {{ article.title }}{% endblock %}

{% block admin_content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Edit Article - {{ article.title }}</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <a href="{{ url('article_index') }}" class="btn btn-secondary float-right text-white">Back</a>
            </div>

            <div class="card-body">
                {{ include('admin/article/_form.html.twig', {'button_label': 'Update'}) }}
            </div>

        </div>
    </div>
{% endblock %}
